{% extends "LibreVenta/base.html" %}

{% block contenido %}

<div class="container text-center mt-5">
    <h1>Acerca De Mi </h1>
    <p class="lead">
        Creé la página llamada Libre Venta con el fin de que las personas publiquen sus productos usados o nuevos de cualquier tipo, y además van a poder actualizar o borrar sus publicaciones y ver las de otras personas.
        Me inspire del Marketplace de Facebook ya que es muy utilizado por gran cantidad de personas. 
    </p>
</div>
{% endblock %}