{% extends "LibreVenta/base.html" %}

{% block contenido %}

<div class="container my-5">
  <h1 class="text-center">{{object.titulo}}</h1>
  <div class="row justify-content-center my-4">
    {% if object.imagen %}
      <div class="col-md-6">
        <img src="{{ object.imagen.url }}" class="img-fluid" alt="{{ object.titulo }}">
      </div>
    {% endif %}
    <div class="col-md-6">
      <g6 class="lead">Precio: {{object.precio}}</p>
      <h6>Descripción</h6>
      <p>{{object.descripcion}}</p>
      <p>Estado: {{object.estado}}</p>
      <p>Creado el: {{object.creado_el}}</p>
      <a href="{% url 'product-list' %}" class="btn btn-dark">Volver</a>
    </div>
  </div>
</div>
{% endblock %}